POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-dev-change-me
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
DOCKER_USERNAME=your-dockerhub-username
